* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  display: flex;
  flex-direction: column;
}

.header{
  padding: 20px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  list-style: none;
  display: flex;
}
.nav-list li{
  font-size: 1.1rem;
  margin-left: 10px;
}

.nav-logo {
  width: 60px;
}

.main{
  flex: 1;
}

.footer {
  background-color: #1f1f1f;
}